.Comments
{
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 48px;
  border-left: $border-black-2;
  width: 30%;
}

.Comment
{
  display: flex;
  align-items: flex-start;
  padding: 8px;
  border-top: $border-gray-1;

  &-contentWrapper
  {
    margin-left: 12px;
  }


}
