// !important annotations were used to override existing component styling from semantic-ui

.Login
{
  @include responsive-container;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;

  &-heading
  {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  &-form
  {
    width: 100%;
    max-width: 500px !important;
    padding: 24px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  }

  &-field
  {
    margin-bottom: 24px !important;
  }

  &-label
  {
    display: none !important;
  }

  &-submit
  {
    width: 100%;
  }
}