// !important annotations were used to override existing component styling from semantic-ui

.Login
{
  @include responsive-container;
  @include form-styling;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;

  &-heading
  {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  &-link
  {
    margin-top: 24px;

    &:hover
    {
      text-decoration: underline;
    }
  }
}