/* styles go in here */


body {
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 1.4;
    margin: auto;
    padding: 10px;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; 
}

.email-header {
    font-size: 48px;
    text-transform: uppercase;
    display: block;
   /* Margin: 0 auto !important;*/
}


.section-header {
    font-size: 24px;
    margin-bottom: 16px;
}

.container {
    display: block;
    Margin: 0 auto !important;
    /* makes it centered */
    max-width: 580px;
    padding: 10px;
    width: 580px;
}
