@mixin responsive-container
{
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media (min-width: $small-screen)
  {
    width: 768px
  }

  @media (min-width: $medium-screen)
  {
    width: 992px
  }

  @media (min-width: $large-screen)
  {
    width: 1140px
  }
}

@mixin icon-button
{
  background-color: transparent;
  border: none;
  border-radius: 8px;
  padding: 6px;

  &:hover
  {
    background-color: $gray-light;
    cursor: pointer;
  }
}

@mixin form-styling
{
  &-form
  {
    width: 100%;
    max-width: 500px !important;
    padding: 24px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  }

  &-field
  {
    margin-bottom: 24px !important;
  }

  &-label
  {
    display: none !important;
  }

  &-submit
  {
    width: 100%;
  }
}