//colors
$black: #000;
$black-shadow: rgba(0, 0, 0, 0.3);
$gray: #999;
$gray-light: #f4f4f4;
$white: #fff;

//borders: $border-{color}-{width}
$border-black-2: 2px solid $black;
$border-gray-1: 1px solid $gray;

//screen sizes
$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;
