@import 'partials/variables';
@import 'partials/mixins';

@import 'components/Comments';
@import 'components/CreateAccount';
@import 'components/Login';
@import 'components/TeamTaskbar';
@import 'components/ToDo.scss';

.Main,
.App,
.Home
{
  height: 100%;
}

.Home
{
  display: flex;
}

body
{
  min-width: 0;
}